header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 8;
}

.header__nav {
    
    margin-top: 25px;
    text-align: right;
}

.header__nav__list {
    display: inline-block;
    margin-right: 50px;
}

.header__nav__list a {
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.header__nav__list__last-btn {
    margin: 0;
}

.header__nav__list__last-btn a {
    display: inline-block;
    height: 40px;
    width: 140px;
    background: var(--basecolor);
    border-radius: 50px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}