/*hero*/

.hero {
    padding-top: 110px;
    padding-bottom: 104px;
    display: flex;
    position: relative;
    margin-bottom: 54px;
}

.hero::before {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    right: 100px;
    width: calc(100% - 100px + (100vw - 100%)/2);
    height: 100%;
    background-image: url(../img/icon/hero-bg.png);
    background-position: bottom right;
    background-size: cover;
    z-index: 3;
}

.hero__left {
    position: relative;
    width: 494px;
    z-index: 5;
}

.hero__right {
    width: calc(100% - 494px);
    position: relative;
    z-index: 5;
}

.hero__left__logo {
    margin-bottom: 25px;
}

.hero__left__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.05em;
}

.hero__left__title span {
    color: var(--basecolor);
}

.hero__left__feature {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-bottom: 40px;
}

.hero__left__feature__list {
    width: 130px;
    height: 130px;
    text-align: center;
    background-color: var(--backgroundcolor);
    border-radius: 50%;
    padding-top: 33px;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.hero__left__btn {
    display: block;
    width: 320px;
    height: 70px;
    border-radius: 35px;
    background-color: var(--basecolor);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero__right__img {
    position: absolute;
    left: 0;
    top: 81px;
    width: 620px;
}

/*about*/

.about {
    margin-bottom: 133px;
}

.about__title {
    margin-bottom: 93px;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.about__title span {
    font-size: 48px;
    line-height: 72px;
    color: var(--basecolor);
}

.about__contents {
    display: flex;
    margin-right: -32px;
    justify-content: space-between;
}

.about__contents__left {
    width: 500px;
}

.about__contents__right {
    width: 510px;
    /*fontの関係上少し大きくしています*/
    text-align: center;
}

.about__contents__right__title {
    margin-bottom: 41px;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.about__contents__right__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
}

/*what*/

.what {
    margin-bottom: 115px;
    width: 100%;
    background-image: url(../img/sample/what-bg.jpg);
    background-size: cover;
}

.what__contents {
    padding-left: 180px;
}

.sec-title_what {
    padding-top: 44px;
    margin-bottom: 70px;
    height: 146px;
}

.sec-title::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: calc(100% + (100vw - 100%)/2 + 80px);
    height: 1px;
    bottom: 0;
    left: calc((100% - 100vw)/2 - 80px);
    background-color: #E5DFD7;
}

.what__contents__contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.what__contents__contents__left {
    width: 50%;
}

.what__contents__contents__right {
    width: 43%;
}

.what__contents__contents__right__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
}

.what__contents__contents__right__title span {
    color: var(--basecolor);
}

.what__contents__contents__right__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 145px;
}

/*feature*/

.feature{
    margin-bottom: 80px;
}

.sec-title_feature {
    margin-bottom: 60px;
}

.feature__contents__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.feature__contents__list_last {
    margin-bottom: 80px;
}

.feature__contents__list__img {
    width: calc((100% - 90px) / 2);
}

.feature__contents__list__texts {
    width: calc((100% - 90px) / 2);
}

.feature__contents__list__img, .feature__contents__list__texts {
    position: relative;
    z-index: 5;
}

.feature__contents__list__texts__title {
    margin-bottom: 30px;
    position: relative;
    font-weight: bold;
    height: 41px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.feature__contents__list__texts__title::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--basecolor);
}

.feature__contents__list__texts__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.feature__contents__list_reverse {
    flex-direction: row-reverse;
}

.feature__contents__list__bg_first {
    position: absolute;
    left: calc((100% - 100vw) + 100px);
    top: 71px;
    width: calc(50% + 45px + 40px + 100px + (100vw - 100% - 200px));
    height: 349px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--basebgcolor);
    z-index: 3;
}

.feature__contents__list__bg_last {
    position: absolute;
    right: calc((100% - 100vw) + 100px);
    top: 71px;
    width: calc(50% + 45px + 40px + 100px + (100vw - 100% - 200px));
    height: 278px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--basebgcolor);
    z-index: 3;
}