/*hero*/

.hero {
    padding-top: 110px;
    padding-bottom: 104px;
    display: flex;
    position: relative;
    margin-bottom: 54px;
}

.hero::before {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    right: 100px;
    width: calc(100% - 100px + (100vw - 100%)/2);
    height: 100%;
    background-image: url(../img/icon/hero-bg.png);
    background-position: bottom right;
    background-size: cover;
    z-index: 3;
}

.hero__left {
    position: relative;
    width: 494px;
    z-index: 5;
}

.hero__right {
    width: calc(100% - 494px);
    position: relative;
    z-index: 5;
}

.hero__left__logo {
    margin-bottom: 25px;
}

.hero__left__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.05em;
}

.hero__left__title span {
    color: var(--basecolor);
}

.hero__left__feature {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-bottom: 40px;
}

.hero__left__feature__list {
    width: 130px;
    height: 130px;
    text-align: center;
    background-color: var(--backgroundcolor);
    border-radius: 50%;
    padding-top: 33px;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.hero__left__btn {
    display: block;
    width: 320px;
    height: 70px;
    border-radius: 35px;
    background-color: var(--basecolor);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero__right__img {
    position: absolute;
    left: 0;
    top: 81px;
    width: 620px;
}

/*about*/

.about {
    margin-bottom: 133px;
}

.about__title {
    margin-bottom: 93px;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.about__title span {
    font-size: 48px;
    line-height: 72px;
    color: var(--basecolor);
}

.about__contents {
    display: flex;
    margin-right: -32px;
    justify-content: space-between;
}

.about__contents__left {
    width: 500px;
}

.about__contents__right {
    width: 510px;
    /*fontの関係上少し大きくしています*/
    text-align: center;
}

.about__contents__right__title {
    margin-bottom: 41px;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.about__contents__right__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
}

/*what*/

.what {
    margin-bottom: 115px;
    width: 100%;
    background-image: url(../img/sample/what-bg.jpg);
    background-size: cover;
}

.what__contents {
    padding-left: 180px;
}

.sec-title_what {
    padding-top: 44px;
    margin-bottom: 70px;
    height: 146px;
}

.sec-title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: calc(100% + (100vw - 100%)/2 + 80px);
    height: 1px;
    bottom: 0;
    left: calc((100% - 100vw)/2 - 80px);
    background-color: #E5DFD7;
}

.what__contents__contents {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.what__contents__contents__left {
    width: 50%;
}

.what__contents__contents__right {
    width: 43%;
}

.what__contents__contents__right__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
}

.what__contents__contents__right__title span {
    color: var(--basecolor);
}

.what__contents__contents__right__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-bottom: 145px;
}

/*feature*/

.feature {
    margin-bottom: 100px;
}

.sec-title_feature {
    margin-bottom: 60px;
}

.feature__contents__list {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.feature__contents__list_last {
    margin-bottom: 80px;
}

.feature__contents__list__img {
    width: calc((100% - 90px) / 2);
}

.feature__contents__list__texts {
    width: calc((100% - 90px) / 2);
}

.feature__contents__list__img, .feature__contents__list__texts {
    position: relative;
    z-index: 5;
}

.feature__contents__list__texts__title {
    margin-bottom: 30px;
    position: relative;
    font-weight: bold;
    height: 41px;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.feature__contents__list__texts__title::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--basecolor);
}

.feature__contents__list__texts__text {
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.feature__contents__list_reverse {
    flex-direction: row-reverse;
}

.feature__contents__list__bg_first {
    position: absolute;
    left: calc((100% - 100vw) + 100px);
    top: 71px;
    width: calc(50% + 45px + 40px + 100px + (100vw - 100% - 200px));
    height: 349px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--basebgcolor);
    z-index: 3;
}

.feature__contents__list__bg_last {
    position: absolute;
    right: calc((100% - 100vw) + 100px);
    top: 71px;
    width: calc(50% + 45px + 40px + 100px + (100vw - 100% - 200px));
    height: 278px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--basebgcolor);
    z-index: 3;
}

/*gallery*/

.gallery {
    padding-left: 190px;
    position: relative;
}

.gallery::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 719px;
    left: 100px;
    top: 0;
    width: calc(100% - (100vw - 100%)/2);
    border-radius: 10px 0px 0px 10px;
    background-color: var(--backgroundcolor);
    z-index: 3;
}

.sec-title_gallery {
    padding-top: 60px;
    margin-bottom: 0;
    height: 126px;
    font-size: 32px;
    line-height: 51px;
    letter-spacing: 0.05em;
    z-index: 5;
}

.sec-title_gallery::before {
    left: calc((100% - 100vw)/2 - 45px);
    width: 100vw;
}

.gallery__spacer {
    display: inline-block;
    width: 100%;
    height: 522px;
}

.gallery__contents {
    position: absolute;
    top: 194px;
    left: 190px;
    display: flex;
    width: calc((900px + 40px) * 3 - 40px);
    justify-content: space-between;
    z-index: 5;
}

.gallery__contents__list {
    position: relative;
    width: 900px;
    padding: 20px 0 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.gallery__contents__list__subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.gallery__contents__list__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.05em;
}

.gallery__contents__list__bookmark {
    position: absolute;
    right: 30px;
    top: 30px;
}

.gallery__contents__list__about {
    display: flex;
}

.gallery__contents__list__about__left {
    width: 341px;
}

.gallery__contents__list__about__right {
    position: relative;
    width: calc(100% - 341px);
}

.gallery__contents__list__about__left__img {
    margin-left: -30px;
    margin-bottom: 30px;
    width: 100%;
    height: 227px;
    object-fit: cover;
}

.gallery__contents__list__about__left__foot {
    position: relative;
    padding-left: 60px;
}

.gallery__contents__list__about__left__foot__icon {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    left: 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.gallery__contents__list__about__left__foot__name {
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.gallery__contents__list__about__left__foot__locate {
    position: relative;
    margin-top: -2px;
    padding-left: 25px;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

.gallery__contents__list__about__left__foot__locate::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 21px;
    top: 4px;
    left: 0;
    background-image: url(../img/icon/map.svg);
}

.gallery__contents__list__about__right__list li {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.gallery__contents__list__about__right__list li span {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    width: 125px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--textcolor);
    letter-spacing: 0;
}

.gallery__contents__list__about__right__list li span::before {
    content: "";
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery__contents__list__about__right__list li:nth-child(1) span::before {
    background-image: url(../img/icon/money.svg);
}

.gallery__contents__list__about__right__list li:nth-child(2) span::before {
    background-image: url(../img/icon/calendar.svg);
}

.gallery__contents__list__about__right__list li:nth-child(3) span::before {
    background-image: url(../img/icon/display.svg);
}

.gallery__contents__list__about__right__skill {
    position: absolute;
    top: 2px;
    right: 140px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: var(--textcolor-light);
}

.gallery__contents__list__about__right__skill span {
    display: inline-block;
    margin-left: 10px;
    padding: 0 8px;
    border: 1px solid var(--basecolor);
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    color: var(--basecolor);
}

.gallery__contents__list__about__right__tag-list {
    margin-bottom: 15px;
}

.gallery__contents__list__about__right__tag-list li {
    display: inline-block;
    position: relative;
    padding-left: 27px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.05em;
}

.gallery__contents__list__about__right__tag-list li::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 0;
    width: 19px;
    height: 19px;
    background-image: url(../img/icon/check.svg);
}

.gallery__contents__list__about__right__text {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.gallery__contents__list__about__right__text_last {
    margin-bottom: 0;
}

.gallery__btns {
    margin-bottom: 138px;
    position: relative;
    z-index: 5;
    text-align: right;
    padding-left: 70px;
}

.gallery__btns__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1em;
    color: var(--basecolor);
}

.gallery__btns__btn__prev {
    margin-right: 140px;
}

.gallery__btns__hr {
    position: absolute;
    right: 80px;
    top: 16px;
    width: 100px;
    height: 1px;
    background-color: var(--basecolor);
}

/*how*/

.how {
    padding-top: 60px;
    margin-bottom: 100px;
    width: 100%;
    background-color: var(--basebgcolor);
}

.how__contents {
    max-width: var(--myw);
    padding: 0 170px 0 190px;
    margin: 0 auto;
}

/*faq*/

.faq {
    position: relative;
     padding: 0 190px;
    padding-top: 60px;
    margin-bottom: 118px;
}

.faq::before {
    content: "";
    position: absolute;
    height: calc(100% - 30px);
    top: 0;
    left: calc((100% - 100vw) / 2);
    width: calc(100% - 100px + (100vw - 100%) / 2);
    background: #FAF7F3;
    border-radius: 0px 10px 10px 0px;
    z-index: 3;
}

.faq__contetns {
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 5;
}

.sec-title_faq {
    margin-bottom: 60px;
}

.faq__contetns__list {
    width: calc((100% - 100px) / 2);
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 12px;
}

.faq__contetns__list::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #CFC6B9;
}

.faq__contetns__list__text {
    position: relative;
    padding-left: 30px;
    margin-bottom: 23px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.faq__contetns__list__text::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Q.";
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: var(--basecolor);
}

.faq__contetns__list__btn {
    margin: 0 0 0 auto;
    display: block;
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
}

.faq__contetns__list__btn__plus_1 {
    position: absolute;
    display: inline-block;
    top: 4px;
    left: 7px;
    height: 15px;
    width: 1px;
    background-color: var(--textcolor);
}

.faq__contetns__list__btn__plus_2 {
    position: absolute;
    display: inline-block;
    top: 11px;
    left: 0px;
    width: 15px;
    height: 1px;
    background-color: var(--textcolor);
}

.faq__contetns__list_active .faq__contetns__list__btn__plus_2 {
    transform: rotate(180deg);
}

.faq__contetns__list_active .faq__contetns__list__btn__plus_1 {
    transform: rotate(90deg);
}